#second {
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 0px #050405;
  -moz-box-shadow: 6px 6px 0px #050405;
  box-shadow: 6px 6px 0px #050405;
  font-family: Arial;
  color: #222;
  font-size: 20px;
  background: #45A;
  width: 80px;
  height: 80px;
  text-decoration: none;
  position: absolute;

  
    &:hover
    {
        background: #A73434;
        text-decoration: none;
        -webkit-box-shadow: 2px 2px 0px #050405;
        -moz-box-shadow: 2px 2px 0px #050405;
        box-shadow: 2px 2px 0px #050405;
    }
}
#third {
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 0px #050405;
  -moz-box-shadow: 6px 6px 0px #050405;
  box-shadow: 6px 6px 0px #050405;
  font-family: Arial;
  color: #222;
  font-size: 20px;
  background: #d93434;
  width: 180px;
  height: 180px;
  text-decoration: none;
  position: absolute;

  
    &:hover
    {
        background: #A73434;
        text-decoration: none;
        -webkit-box-shadow: 2px 2px 0px #050405;
        -moz-box-shadow: 2px 2px 0px #050405;
        box-shadow: 2px 2px 0px #050405;
    }
}

    

#fifth, #sixth, #fourth
{
    border: 1px solid black;
    border-radius: 2px;
    height: 25px;
    width: 25px;
    float: right;
    
}

#nine, #eight, #seven, .mama
 {
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 0px #050405;
  -moz-box-shadow: 6px 6px 0px #050405;
  box-shadow: 6px 6px 0px #050405;
  font-family: Arial;
  color: #222;
  font-size: 20px;
  background: #45A;
  width: 80px;
  height: 80px;
  text-decoration: none;
  display: inline-block;
  //margin-left: 100px;
  //clear: both;

  
    &:hover
    {
        background: #A73434;
        text-decoration: none;
        -webkit-box-shadow: 2px 2px 0px #050405;
        -moz-box-shadow: 2px 2px 0px #050405;
        box-shadow: 2px 2px 0px #050405;
    }
}
#eight
{
    background: #333;
    margin-top: 150px;
}
#seven
{
    margin-top: 100px;
}
#nine
{
    margin-top: 200px;
}

.baby
 {
  border-radius: 50%;
  -webkit-box-shadow: 6px 6px 0px #050405;
  -moz-box-shadow: 6px 6px 0px #050405;
  box-shadow: 6px 6px 0px #050405;
  font-family: Arial;
  color: #222;
  font-size: 20px;
  background: #45A;
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  //margin-left: 100px;
  //clear: both;

  
    &:hover
    {
        background: #A73434;
        text-decoration: none;
        -webkit-box-shadow: 2px 2px 0px #050405;
        -moz-box-shadow: 2px 2px 0px #050405;
        box-shadow: 2px 2px 0px #050405;
    }